//- newtrip.jade
doctype html
html(lang='en')
    head
        title  My trip
        //- load bootstrap css
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        //- Load fonts
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        //-load datepicker css
        link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css")
        //- JQuery
        script(src="https://code.jquery.com/jquery-2.0.2.min.js")
        //- mapbox
        script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js')
        link(href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet')
        link(rel="stylesheet" href="/stylesheets/mapstyle.css" )
        //- Leaflet
        script(src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js')


    body
        //- Nav bar
        div.navbar.navbar-default
            div.navbar-header
                a.navbar-brand(href="/profile")
                    i.fa.fa-user  Profile
        div.container-fluid
            div.jumbotron
                div.row
                    div.col-md-4
                        h1 Awesome 
                        p.lead Let's pick some sites
                        div.progress(id="progress-selection")
                            div.progress-bar.progress-bar-success.progress-bar-striped(role="progressbar" aria-valuenow=20 aria-valuemin="0" aria-valuemax="100" style="width: 20%")
                    div.col-md-8.pad2(style="border-style:dotted;height:90%;border-color:#A0A0A0;border-width: 1px;")
                        div.row(style="padding:10px;")
                            div(style="margin-left: 47%;")
                                div.numberCircle(id="sitescount") 0
                        form(action="/savesites" method="post")
                            div.container-fluid(id="selectionThumbs",style="height:120px; overflow:auto;")
                                input(type='hidden' name='tosend' value=[] id="tosend")
                                input(type='hidden' name='meta' value="" id="meta")
                            div(style="margin-left: 44%;")
                                button.btn.btn-success(type='submit' id='submit') Save list




        div.container-fluid
            div.row.h600
                div.sidebar
                    div.heading.pad2
                        h1.center Paris Area museums
                    div.listings(id="listings")
                div.map(id="map")
                input(id='search' class='search-ui' placeholder='Enter name')
        script.
            var geojson=!{JSON.stringify(dbsites)};
            var extended_json=[{"type": "FeatureCollection","features":geojson}];
            L.mapbox.accessToken = 'pk.eyJ1IjoicmVkZ25zIiwiYSI6InM2Mk9PdVEifQ.owDLmACFrdOh5Ch_7maj9w';
            var map = L.mapbox.map('map', 'examples.map-i80bb8p3')
            .setView([48.858093, 2.294694], 13)
            map.scrollWheelZoom.disable();
            var listings = document.getElementById('listings');
            var thumbs = document.getElementById('selectionThumbs');
            var cnt = document.getElementById('sitescount');
            var tosend = document.getElementById('tosend');
            var meta = document.getElementById('meta');
            var trip=!{JSON.stringify(trip)};
            meta.value=trip._id;
            var selected= [];
            var locations = L.mapbox.featureLayer().addTo(map);
            locations.setGeoJSON(extended_json);
            function setActive(el) {
            var siblings = listings.getElementsByTagName('div');
            for (var i = 0; i < siblings.length; i++) {
            siblings[i].className = siblings[i].className
            .replace(/active/, '').replace(/\s\s*$/, '');
            }
            el.className += ' active';
            }
            locations.eachLayer(function(locale) {
                //- Create listing elements
                //- Shorten locale.feature.properties to just `prop`
                var prop = locale.feature.properties;
                var popup = '<h3>'+prop.title+'</h3><div>'+ prop.adresse +'<br>'+prop.ville;
                var listing = listings.appendChild(document.createElement('div'));
                listing.className = 'item';
                var link = listing.appendChild(document.createElement('a'));
                link.href = '#';
                link.className = 'title';
                link.innerHTML = prop.title;
                var details = listing.appendChild(document.createElement('div'));
                details.innerHTML = prop.ville;
                var select= listing.appendChild(document.createElement('button'));
                select.className="btn btn-default"
                select.innerHTML="Add to trip";
                select.value=0;
                link.onclick = function() {
                setActive(listing);
                //- When a menu item is clicked, animate the map to center
                //- its associated locale and open its popup.
                map.setView(locale.getLatLng(), 16);
                locale.openPopup();
                return false;
                };
                //- Action : add site to trip:
                select.onclick = function() {
                select.value++;
                if(select.value%2==1){
                select.className="btn btn-success";
                select.innerHTML="Selected";
                var t=thumbs.appendChild(document.createElement('div'));
                t.innerHTML=prop.title;
                t.className="btn btn-default btn-custom";
                t.id=prop.title;
                t.disabled=true;
                var b=t.appendChild(document.createElement('button'));
                b.className="btn btn-link stickit black";
                var icon=b.appendChild(document.createElement('span'));
                b.onclick=function(){
                    select.click();
                    }
                icon.className="glyphicon glyphicon-remove black";
                var tmp=parseInt(cnt.innerHTML)+1;
                cnt.innerHTML=tmp.toString();
                selected.push(locale.feature._id);
                tosend.value=JSON.stringify(selected);
                } else {
                select.className="btn btn-default";
                select.innerHTML="Add to trip";
                var r=document.getElementById(prop.title);
                thumbs.removeChild(r);
                var tmp=parseInt(cnt.innerHTML)-1;
                cnt.innerHTML=tmp.toString();
                var index = selected.indexOf(locale.feature._id);
                if (index > -1) selected.splice(index, 1);
                tosend.value=JSON.stringify(selected);
                }
                var sub = document.getElementById('submit');
                if(tmp==0) {
                sub.disabled=true;
                }else
                sub.disabled=false;
                }
                locale.on('click', function(e) {
                //-1. center the map on the selected marker.
                map.panTo(locale.getLatLng());
                //- 2. Set active the markers associated listing.
                setActive(listing);
                listing.scrollIntoView();
                });
                popup += '</div>';
                locale.bindPopup(popup);
                locale.setIcon(L.icon({
                    iconUrl: '/img/marker.png',
                    iconSize: [56, 56],
                    iconAnchor: [28, 28],
                    popupAnchor: [0, -34]
                    }));
                });
            locations.addTo(map);

            //- Search box
            $('#search').keyup(search);
            function search() {
            // get the value of the search input field
            var searchString = $('#search').val().toLowerCase();
            locations.setFilter(showName);
            function showName(feature) {
            return feature.properties.title
            .toLowerCase()
            .indexOf(searchString) !== -1;
            }
            }