//- profile.jade
doctype html
html(lang='en')
    head
        title  My Profile
        //- load bootstrap css
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        //- Load fonts
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/mapstyle.css" )
        //- JQuery
        script(src="https://code.jquery.com/jquery-2.0.2.min.js")
        style.
            .btn-thumb{
                margin-top: 3px;
                margin-bottom: 3px;
                height:75px;
                text-align: center;
                padding-top: 15px;
                font-weight: 500;
                font-size:28px;
            }

    body(style='padding-top:80px;')
        //- Nav bar
        nav.navbar.navbar-default.navbar-fixed-top
            div.container-fluid
                div.navbar-header
                    a.navbar-brand(href="/profile")  
                        i.fa.fa-user  Profile
                div.navbar-right
                    a.btn.btn-default.navbar-btn(href="/logout") Logout

        //- Trip
        div.container.text-center
            div.row
                div.col-md-4.col-md-offset-2
                    img(src="img/map.svg" style="width: 200px;height: 164px; margin-bottom:10px;")
                    a.btn.btn-block.btn-primary.btn-thumb(href="/newtrip")
                        i.fa.fa-rocket  Start a new Trip
                div.col-md-4
                    img(src="img/book.svg" style="width: 200px;height: 164px; margin-bottom:10px;")
                    a.btn.btn-block.btn-primary.btn-thumb(type="submit" href='/mytrips/:'+user.id)
                        i.fa.fa-history  Check your trips

        //- Account info

        div.container
            div.page-header.text-center
                h1
                    span.fa.fa-anchor  Account information


            div.row
                //- Local info
                div.col-sm-3(style="text-align: center;")
                    div.well
                        h3
                            span.fa.fa-user  Local

                        if (user.local.email)
                            p
                                strong
                                =user.local.email
                            a.btn.btn-defaul(href="/unlink/local" id="unlinkLO" onclick="disablebuttons()") Unlink

                        else
                            a.btn.btn-defaul(href="/connect/local" onclick="disablebuttons()") Connect Local


                //-Facebok info
                div.col-sm-3(style="text-align: center;")
                    div.well
                        h3.text-primary
                            span.fa.fa-facebook  Facebook

                        if (user.facebook.token)
                            p
                                strong
                                =user.facebook.email
                                br
                                strong
                                =user.facebook.name
                            a.btn.btn-primary(href="/unlink/facebook" id="unlinkFB" onclick="disablebuttons()") Unlink
                        else
                            a.btn.btn-primary(href="/connect/facebook" onclick="disablebuttons()") Connect Facebook

                //-Twitter info
                div.col-sm-3(style="text-align: center;")
                    div.well
                        h3.text-primary
                            span.fa.fa-twitter  Twitter

                        if (user.twitter.token)
                            p
                                strong @
                                =user.twitter.username
                                br
                                strong
                                =user.twitter.displayName
                            a.btn.btn-info(href="/unlink/twitter" id="unlinkTW" onclick="disablebuttons()") Unlink
                        else
                            a.btn.btn-info(href="/connect/twitter" onclick="disablebuttons()") Connect Twitter


                //-Google info
                div.col-sm-3(style="text-align: center;")
                    div.well
                        h3.text-danger
                            span.fa.fa-google-plus  Google

                        if (user.google.token)
                            p
                                strong
                                =user.google.email
                                br
                                strong
                                =user.google.name
                            a.btn.btn-danger(href="/unlink/google" id="unlinkGO" onclick="disablebuttons()") Unlink
                        else
                            a.btn.btn-danger(href="/connect/google" onclick="disablebuttons()") Connect Google
                script.
                    function disablebuttons() {
                    var TW=document.getElementById("unlinkTW");
                    var FB=document.getElementById("unlinkFB");
                    var GO=document.getElementById("unlinkGO");
                    var LO=document.getElementById("unlinkLO");
                    var TWB, FBB, GOB,LOB;
                    if(user.twitter.token)
                        TWB=0;
                    else TWB=1;
                    if(user.facebook.token)
                        FBB=0;
                    else FBB=1;
                    if(user.google.token)
                        GOB=0
                    else GOB=1;
                    if(user.local.email)
                        LOB=0;
                    else LOB=1;
                    if(TWB+FBB+GOB+LOB>=3){
                        TW.disabled=true;
                        FB.disabled=true;
                        GO.disabled=true;
                        LO.disabled=true;
                    }
                    }

